%h1 List of bookmarks

%form(action='/bookmarks' method='post')
	%p
		%input(type='text' name='bookmark[title]' placeholder='Title')
	%p
		%input(type='text' name='bookmark[url]' placeholder='URL')
	%p
		%button.tiny Create bookmark

%ul
	-@bookmarks.each do |bookmark|
		%li.bookmark{id: "bookmark-#{bookmark.id}"}
			%a{href: bookmark.url}
				=precede "(" do
					=succeed ")" do
						=bookmark.id
				=bookmark.title

			%form.inline(method="post" action="/bookmarks/#{bookmark.id}")
				%input(name="_method" type="hidden" value="delete")
				%button.tiny.delete Delete